{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Navbar Start -->
        {% include 'navbar.html' %}
    <!-- Navbar End -->


    <!-- Video Modal Start -->
        {% include 'videomodalstart.html' %}
    <!-- Video Modal End -->


    <!-- Header Start -->
        {% include 'header.html' %}
    <!-- Header End -->


    <!-- About Start -->
        {% include 'about.html' %}
    <!-- About End -->


    <!-- Qualification Start -->
        {% include 'qualification.html' %}
    <!-- Qualification End -->


    <!-- Skill Start -->
        {% include 'skill.html' %}
    <!-- Skill End -->


    <!-- Services Start -->
        {% include 'services.html' %}
    <!-- Services End -->


    <!-- Portfolio Start -->
        {% include 'portfolio.html' %}
    <!-- Portfolio End -->


    <!-- Testimonial Start -->
        {% include 'testimonial.html' %}
    <!-- Testimonial End -->


    <!-- Blog Start -->
        {% include 'blog.html' %}
    <!-- Blog End -->


    <!-- Contact Start -->
        {% include 'contact.html' %}
    <!-- Contact End -->


    <!-- Footer Start -->
        {% include 'footer.html' %}
    <!-- Footer End -->

   {% endblock %}