{% load static %}

<div class="container-fluid py-5" id="skill">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Habilidades</h1>
                <h1 class="position-absolute text-uppercase text-primary">Minhas Habilidades</h1>
            </div>

            <div class="row align-items-center">

                {% for h in habilidade %}
                    {% if forloop.counter|divisibleby:"2" %}

                        <div class="col-md-6">

                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">{{ h.nome }}</h6>
                                    <h6 class="font-weight-bold">{{ h.porcentagem }}%</h6>
                                </div>
                                <div class="progress">
                                    <div class="{{ h.cor }}" role="progressbar" aria-valuenow="{{ h.porcentagem }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        </div>

                    {% else %}

                        <div class="col-md-6">

                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">{{ h.nome }}</h6>
                                    <h6 class="font-weight-bold">{{ h.porcentagem }}%</h6>
                                </div>
                                <div class="progress">
                                    <div class="{{ h.cor }}" role="progressbar" aria-valuenow="{{ h.porcentagem }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        </div>

                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>